<footer>
    <section class="about">
        <div class="location">
            <h3>
                LOCATION
            </h3>
            <p>
                2215 John Daniel Drive Clark, MO 65243
            </p>
        </div>
        <div class="around">
            <h3>
                AROUND THE WEB
            </h3>
            <div>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-dribbble"></i>
            </div>
        </div>
        <div class="about-text">
            <h3>
                ABOUT FREELANCE
            </h3>
            <p>
                Freelance is a free to use, MIT licensed Bootstrap theme created by Route
            </p>
        </div>
    </section>
    <section class="copyright">
        Copyright © Your Website 2021
    </section>
</footer>